/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
/* ---------- FONTS ---------- */
@font-face {
  font-family: 'Solano Bold';
  src: url('../fonts/SolanoGothicMVB-Bd.eot?v=4.1.0');
  src: url('../fonts/SolanoGothicMVB-Bd.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/SolanoGothicMVB-Bd.woff?v=4.1.0') format('woff'), url('../fonts/SolanoGothicMVB-Bd.ttf?v=4.1.0') format('truetype'), url('../fonts/SolanoGothicMVB-Bd.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icons{
	text-align: center;
	font-size: 18px;
	a{
		margin: 10px 5px;
		&:hover{
			text-decoration: none;
			&.fa-twitter:before{
				color: #00aced;
			}
			&.fa-facebook:before{
				color: #3b5998;
			}
			&.fa-soundcloud:before{
				color: #ff3a00;
			}
			&.fa-instagram:before{
				color: #517fa4;
			}
			&.fa-youtube-play:before{
				color: #bb0000;
			}
		}
	}

}
/* ---------- GENERAL ---------- */
html { 
  background: #111;
}
body {
	color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  font-family: Helvetica, Arial, "lucida grande",tahoma,verdana,arial,sans-serif;
  margin: 0;
}
.titleCard {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  top: 0;
  video {
    position: fixed;
    right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -3;
    background: #111 url('../img/bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  @media (max-width: 767px) {
    display: none;
  }
}
.titleCard>div {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/mesh.png");
  background-size: 4px 5px;
  z-index: -2;
}

a {
	color: #eee;
	text-decoration: none;
}

.grid_left{
	width: 100%;
	float: left;
	display: inline;
}
.grid_right{
	width: 100%;
position: relative;
float: left;
display: inline;
}
@media (max-width: 800px) {
	.grid_left,
.grid_right{
	width: 100%;
	padding: 0;
}
.grid_left{
	margin-top: 20px;
}
.grid_right{
	margin-bottom: 20px;
}
}
a:hover {
	text-decoration: underline;
}

input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-family: Helvetica, Arial, "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

p {
	line-height: 1.5em;
}

.clearfix { *zoom: 1; } /* For IE 6/7 */
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
}
.clearfix:after { clear: both; }

/* ---------- mailchimp Form ---------- */

#mc_signup {
	margin: 0 auto;
	width: 90%;
max-width: 220px;
margin-top: 25px;
left: 50%;
margin-left: -110px;
position: absolute;

@media (max-width: 800px) {
	position: relative;
	margin-left: auto;
	top: 0;
	left: 0;
}
}


form input {
	height: 40px;
}
.logo{
	text-align: center;
	margin-bottom: 15px;
	img{
		width: 100%;
		max-width: 220px;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
		-webkit-box-shadow: 0px 0px 6px 0px rgba(170, 170, 170, 0.75);
		-moz-box-shadow:    0px 0px 6px 0px rgba(170, 170, 170, 0.75);
		box-shadow:         0px 0px 6px 0px rgba(170, 170, 170, 0.75);
		
	}

}
a.connect,
#soundcloud_link{
	display: block;
}
.info{
	color: #FFC66F;
	margin-bottom: 10px;
	text-align: center;
	padding: 10px 10px;
	font-family: 'Solano Bold';
	background: #110A00;
	font-size: 20px;
	border-radius: 6px;
	line-height: 18px;
	margin-top: 0;
	border: 1px solid #5A3600;
	width: 250px;
	margin-left: -15px;
	.track{
		font: 87.5%/1.5em 'Open Sans', sans-serif;
		font-family: Helvetica, Arial, "lucida grande",tahoma,verdana,arial,sans-serif;
		font-size: 13px;
	}
}

.fa-envelope-o:before,
.fa-user:before{
	color: #fff;
}

#mailchimp-signup{
	max-width: 700px;
	@media (max-width: 800px) {
		
	}
}
.download_track{
	width: 250px;
margin-left: -15px;
}
.note{
	color: #fff;
	font-size: 12px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	line-height: 16px;
text-align: center;
width: 250px;
margin-left: -15px;
	small{
		display: block;
		color: #ccc;
	}
}
.new_user_gif {
width: 300px;
height: 235px;
margin: 0 auto;
background: url("../img/new_user.gif");
position: relative;
display: block;
}
.update_user {
width: 300px;
height: 235px;
margin: 0 auto;
background: url("../img/update_user.gif");
position: relative;
display: block;
}
.mat{
	margin-top: 5px;
	b{
		font-weight: bold;
		display: block
	}
}

::-webkit-input-placeholder { color:#606468; }
::-moz-placeholder { color:#606468; } /* firefox 19+ */
:-ms-input-placeholder { color:#606468; } /* ie */
input:-moz-placeholder { color:#606468; }
form input[type="submit"] {
	-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
	background-color: #307FF5;
	border: 1px solid #5A3600;
	color: #fff;
	font-weight: bold;
	
	text-transform: uppercase;
	width: 10%;
	background: #5A3600 url(../img/arrow.png) 18px 12px no-repeat;
text-indent: -9999999px;
@media (max-width: 475px) {
	width: 100%;
	text-indent: 0;
	background: #307FF5;
	margin-bottom: 15px;
}
}
.btn:hover{
	cursor: pointer; cursor: hand;
}
.hot-logo{
	text-align: center;
}

#mc_signup > p {
	text-align: center;
}

#mc_signup > p span {
	padding-left: 5px;
}
nav.social{
	*{
		box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	}
	ul{
		text-align: center;
		li{
			background: #363b41;
			position: relative;
			width: 40px;
			height: 40px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			margin: 0 4px;
			display: inline-block;
			
			a{
				padding: 10px 0;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				text-align: center;
			}
			a:hover{
				text-decoration: none;
			}
			a.fa-facebook{

			}
		}
		li.facebook:hover{
			background: #3B5998;
		}
		li.twitter:hover{
			background: #00aced;
		}
		li.google:hover{
			background: #dd4b39;
		}
		li.youtube:hover{
			background: #bb0000;
		}
		li.soundcloud:hover{
			background: #f50;
		}
	}
}
.go_back{
	position: fixed;
	top: 10px;
	left: 10px;
	a{
		color: #fff;
		text-shadow: 1px 1px 2px black;
	}
}